* {
  cursor: url(../img/cursor.png), pointer; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

body{
  font-size: 16px;
  font-family: TFs;
  letter-spacing: 2px;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
}

ul {
  list-style: none;
}

p {
  color:rgb(184, 184, 184);
}

span {
  color: #0ea522;
}

@font-face {
  font-family: TFs;
  src: url(../fonts/TFs.ttf);
}

/* Navegación */

.nav-container {
  width: 90%;
  margin: auto;
}

.nav-main {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  width: 50px;
}

.nav-main ul {
  display: flex;
  margin-left: auto;
  z-index: 2;
}

.nav-main ul li {
  padding: 10px;
}

.nav-main ul li a{
  color: #a1a1a1;
}

.nav-main ul li a:hover{ 
  text-decoration: none;
  color: #ffffff;
  cursor: url(../img/cursor-pointer.png), crosshair;    
}

/* Responsive Button */
.menu-btn {
  display: none;
  position: absolute;
  top: 28px;
  right: 30px;
  z-index: 3;
}

.menu-close {
  display: none;
  position: fixed;
  top: 28px;
  right: 30px;
  z-index: 3;
}

/* imagen de inicio */
.img-home img {
  pointer-events: none;
}

/* Mis habilidades */
.my-skills ul li{
  color: #b4b4b4;
}

/* Proyectos */
.preview-project {
  border-radius: 5px;
  border: #8d8d8d solid 2px;
  background: none;
  padding: 10px;
}

/* Detalles de proyectos */
.details .description{
  margin-top: 50px;
  text-align: center;
}

/* Tecnologias usadas */
.tec li {
  color: rgb(241, 239, 103);
}

/* Contacto */
.control {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  background: none;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  border: #8d8d8d solid 2px;
  font-size: 16px;
  color: white;
}

.contact i{
  font-size: 30px;
}

/* iconos - redes sociales */
.redes li a i {
  font-size: 25px;
  color: #b4b4b4;
  margin-inline-start: 5px;
}
.redes li a i:hover{
  color: #ffffff;
  cursor: url(../img/cursor-pointer.png), crosshair;
}

/* Pagina no encontrada */
.not-found {
  margin-top: 50px;
}

.not-found img{
  cursor: url(../img/cursor-pointer.png), crosshair;  
}

.not-found .description {
  margin-top: 50px;
}

.not-found .description span {
  font-size: 150px;
  color: #ffffff;
}

.not-found .description a{
  color:#0ea522;
  font-size: 25px;
  cursor: url(../img/cursor-pointer.png), crosshair;
}


@media only screen and (min-height: 225px) {
  .home {
    margin-top: 50px;
  }
  .presentation {
    margin-top: 80px;
  }
  .about-me {
    margin-top: 40px;
  }
  .details {
    margin-top: 50px;
  }  
  
}

@media only screen and (min-height: 626px) {
  .home {
    margin-top: 100px;
  }
  .presentation {
    margin-top: 80px;
  }
  .about-me {
    margin-top: 75px;
  }
  .details {
    margin-top: 75px;
  }
  .contact {
    margin-top: 100px;
  }
}

@media only screen and (min-height: 726px) {
  .home {
    margin-top: 180px;
  }
  .presentation {
    margin-top: 100px;
  }
  .about-me {
    margin-top: 150px;
  }
  .details {
    margin-top: 150px;
  }
  .contact {
    margin-top: 150px;
  }
  .not-found {
    margin-top: 120px;
  }
}

@media only screen and (min-height: 900px) {
  .home {
    margin-top: 250px;
  }
  .presentation {
    margin-top: 90px;
  }
  .about-me {
    margin-top: 200px;
  }
  .details {
    margin-top: 200px;
  }
  .contact {
    margin-top: 200px;
  }
  .not-found {
    margin-top: 200px;
  }
}

@media only screen and (max-width: 767px) {
  .img-home {
    display: none;
  }
  .redes li a i {
    color: #f8f8f8;
  }
  .about-me {
    margin-top: 20px;
  }
  .details {
    margin-top: 25px;
  }
  .details .description{
    margin-top: 25px;
    text-align: center;
  }
  .contact {
    margin-top: 20px;
  }
  .not-found img{
    display: none;
  }
  .not-found .description {
    margin-top: 30px;
    text-align: center;
  }
  
  .menu-btn {
    display: block;
  }
  .menu-btn.show {
    display: none;
  }
  .menu-btn i{
    color: #ffffff;
  }
  .menu-close.show {
    display: block;
  }

  .nav-main ul.nav-menu {
    text-align: center;
    display: block;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: #2f3640;
    width: 100%;
    height: 100%;
    opacity: .9;
    padding-top: 100px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .nav-main ul li a{
    color: #ffffff;
  }

  .nav-main ul.nav-menu li {
    margin-top: 20px;
    font-size: 40px;
  }

  .nav-main ul.nav-menu.show {
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 991px) {
  .img-home {
    margin-top: 150px;
  }
  .not-found img {
    margin-top: 120px;
  }
}

@media only screen and (max-width: 1199px) {
  .not-found img {
    margin-top: 50px;
  }
}
